#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 10px;
}

#container div{
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
}

#container div img{
    width: 60%;
}